.Todo {
  width: 100%;
  padding: 0 0 2vmin 0;
  display: flex;
  align-items: baseline;
}

.Todo-Text {
  margin-left: 1vmin;
}

.Todo-Text_complete {
  text-decoration: line-through;
}

.Todo-Complete,
.Todo-Remove {
  cursor: pointer;
  font-size: 80%;

  &:hover {
    opacity: 0.5;
  }
}

.Todo-Remove {
  order: 3;
  margin-left: auto;
}

.Todo-Remove:hover + .Todo-Text {
  opacity: 0.5;
}
